<%= semantic_form_for @note do |f| %>
  <%= f.inputs do %>
    <span><b>Tech: </b></span><%= f.collection_select(:tech_id, Tech.find(:all), :id, :name, {:prompt => true}) %>
    <span><b>&nbsp; Site: </b></span><%= f.collection_select(:site_id, Site.find(:all), :id, :name, {:prompt => true}) %>
    <%= f.input :subject %>
    <%= f.input :date, :label => 'Select the Date' %>
    <%= f.input :note %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>
