<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @note.subject %>
</p>

<p>
  <b>Date:</b>
  <%= @note.date %>
</p>

<p>
  <b>Note:</b>
  <%= @note.note %>
</p>

<p>
  <b>Created:</b>
  <%= @note.created_at %>
</p>

<p>
  <b>Tech:</b>
  <%= link_to @note.tech.name, @note.tech %>
</p>

<p>
  <b>Site:</b>
  <%= link_to @note.site.name, @note.site %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
