<div class="container">
<h1>All Techs</h1>

<table class="pretty table table-striped">
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "phone" %></th>
    <th></th>
  </tr>

<% @teches.each do |tech| %>
  <tr>
    <td><%= link_to tech.name, tech %></td>
    <td><%= tech.phone %></td>
    <td><%= link_to 'Edit', edit_tech_path(tech) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tech', new_tech_path %>
