<div class="jumbotron subhead" id="overview">
  <div class="container">
    <h1><%= @tower.name %></h1>
  </div>
</div><div class="container">
<p id="notice"><%= notice %></p>
<div class="container">

<h2>Antennas</h2>
  <h3>Number of Existing Antennas</h3>
  <p><%= @tower.numbeant %></p>
  <h3>Number of New Antennas Installed</h3>
  <p><%= @tower.numbnewant %></p>

<h2>Cables</h2>
  <h3>Number/Type of Old Cables</h3>
  <p><%= @tower.oldcables %></p>
  <h3>Number/Type of New Cables</h3>
  <p><%= @tower.newcables %></p>

<h2>Site</h2>
  <p><%= link_to @tower.site.name, @tower.site %></p>
  <h3>Tech</h3>
  <p><%= link_to @tower.site.tech.name, @tower.site.tech %></p>

<h2>Radios</h2>
<table class="pretty table table-striped">
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th></th>
  </tr>

<% for radio in @tower.radios %>
  <tr>
    <td><%= link_to radio.name, radio %></td>
    <td><%= radio.desc %></td>
    <td><%= link_to 'Edit', edit_radio_path(radio) %></td>
  </tr>
<% end %>
</table>
<p><i class="icon-file"></i> <%= link_to "Create New Radio", new_radio_path %></p>


<%= link_to 'Edit', edit_tower_path(@tower) %> |
<%= link_to 'Back', towers_path %>