<div class="jumbotron subhead" id="overview">
  <div class="container">
    <h1><%= @tower.name %></h1>
  </div>
</div><div class="container">
<p id="notice"><%= notice %></p>
<div class="container">
<div class="page-header">
<h1>Site: <%= link_to @tower.site.name, @tower.site %></h2>
  <p class="lead">Tech: <%= link_to @tower.site.tech.name, @tower.site.tech %></p>
</div>

<h2>Radios</h2>
<table class="pretty table table-striped">
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th></th>
  </tr>

<% for radio in @tower.radios %>
  <tr>
    <td><%= link_to radio.name, radio %></td>
    <td><%= radio.desc %></td>
  </tr>
<% end %>
</table>
<p><i class="icon-file"></i> <%= link_to "Create New Radio", new_radio_path %></p>

<h2>Antennas</h2>
<table class="pretty table table-striped">
  <tr>
    <th>Antenna</th>
    <th>On Radio</th>
    <th>Description</th>
    <th>Antenna Type</th>
  </tr>
<% for antenna in @tower.antennas %>
  <tr>
    <td><%= link_to antenna.antenna, antenna %></td>
    <td><%= link_to antenna.radio.name, antenna.radio %></td>
    <td><%= antenna.desc %></td>
    <td><%= antenna.antennatype %></td>
  </tr>
<% end %>
</table>
<p><i class="icon-file"></i> <%= link_to "Create New Antenna", new_antenna_path %></p>
  <h3>Number of Existing Antennas</h3>
  <p><%= @tower.numbeant %></p>
  <h3>Number of New Antennas Installed</h3>
  <p><%= @tower.numbnewant %></p>

<h2>Cables</h2>
  <h3>Number/Type of Old Cables</h3>
  <p><%= @tower.oldcables %></p>
  <h3>Number/Type of New Cables</h3>
  <p><%= @tower.newcables %></p>

<%= link_to 'Edit', edit_tower_path(@tower) %> |
<%= link_to 'Back', towers_path %>