<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @radio.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @radio.desc %>
</p>

<p>
  <b>Tower:</b>
  <%= @radio.tower.name %>
</p>

<table class="pretty table table-striped">
  <tr>
    <th>Radio</th>
    <th>Desc</th>
    <th>Antenna</th>
    <th>Azimuth</th>
    <th>Elevation</th>
    <th>Frequencytx</th>
    <th>Frequencyrx</th>
    <th>Height</th>
    <th>Txpower</th>
    <th>Serialnumber</th>
    <th>Phasingcolor1</th>
    <th>Phasingcolor2</th>
    <th>Sectorsize</th>
    <th>Antennatype</th>
    <th>Dishsize</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% for antenna in @radio.antennas %>
  <tr>
    <td><%= antenna.radio_id %></td>
    <td><%= antenna.desc %></td>
    <td><%= antenna.antenna %></td>
    <td><%= antenna.azimuth %></td>
    <td><%= antenna.elevation %></td>
    <td><%= antenna.frequencytx %></td>
    <td><%= antenna.frequencyrx %></td>
    <td><%= antenna.height %></td>
    <td><%= antenna.txpower %></td>
    <td><%= antenna.serialnumber %></td>
    <td><%= antenna.phasingcolor1 %></td>
    <td><%= antenna.phasingcolor2 %></td>
    <td><%= antenna.sectorsize %></td>
    <td><%= antenna.antennatype %></td>
    <td><%= antenna.dishsize %></td>
    <td><%= link_to 'Show', antenna %></td>
    <td><%= link_to 'Edit', edit_antenna_path(antenna) %></td>
    <td><%= link_to 'Destroy', antenna, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_radio_path(@radio) %> |
<%= link_to 'Back', radios_path %>
