<%= semantic_form_for @antenna do |f| %>
  <%= f.inputs do %>
    <%= f.input :radio_id, :as => :select, :collection => Radio.all, :label_method => :format_name, :value_method => :id %>
    <%= f.input :tower_id, :as => :select, :collection => Tower.all, :label_method => :format_name, :value_method => :id %>
    <%= f.input :desc, :label => "" %>
    <%= f.input :antenna, :label => "" %>
    <%= f.input :azimuth, :label => "" %>
    <%= f.input :elevation, :label => "" %>
    <%= f.input :frequencytx, :label => "" %>
    <%= f.input :frequencyrx, :label => "" %>
    <%= f.input :height, :label => "" %>
    <%= f.input :txpower, :label => "" %>
    <%= f.input :serialnumber, :label => "" %>
    <%= f.input :phasingcolor1, :label => "" %>
    <%= f.input :phasingcolor2, :label => "" %>
    <%= f.input :sectorsize, :label => "" %>
    <%= f.input :antennatype, :label => "" %>
    <%= f.input :dishsize, :label => "" %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input, :label => "Submit" %>
    <%= f.action :cancel, :label => "Cancel" %>
    <li><%= link_to 'Destroy', @antenna, method: :delete, :class => "btn action btn-danger", data: { confirm: 'Are you sure?' } %></li>
  <% end %>
<% end %>
