<div class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>All Antennas</h1>
    <p class="lead">Select an antenna for more information.</p>
  </div>
</div>
<div class="container">
  <div class="page-header"><h1>Antennas Table</h1></div>
<p id="notice"><%= notice %></p>

<table class="pretty table table-striped">
  <tr>
    <th>Antenna</th>
    <th>Description</th>
    <th>Radio</th>
    <th>Antenna Type</th>
    <th></th>
  </tr>

<% @antennas.each do |antenna| %>
  <tr>
    <td><%= link_to antenna.antenna, antenna %></td>
    <td><%= antenna.desc %></td>
    <td><%= link_to antenna.radio.name, antenna.radio %></td>
    <td><%= antenna.antennatype %></td>
    <td><%= link_to 'Edit', edit_antenna_path(antenna) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Antenna', new_antenna_path %>
