<div class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Antenna Information</h1>
  </div>
</div>
<div class="container">
  <div class="page-header"><h1><%= @antenna.antenna %></h1></div>
<p id="notice"><%= notice %></p>

<p>
  <b>Description</b>
  <%= @antenna.desc %>
</p>

<p>
  <b>Tower:</b>
  <%= link_to @antenna.tower.name, @antenna.tower %>
</p>

<p>
  <b>Radio:</b>
  <%= link_to @antenna.radio.name, @antenna.radio %>
</p>

<p>
  <b>Azimuth:</b>
  <%= @antenna.azimuth %>
</p>

<p>
  <b>Elevation:</b>
  <%= @antenna.elevation %>
</p>

<p>
  <b>Frequency TX:</b>
  <%= @antenna.frequencytx %>
</p>

<p>
  <b>Frequency RX:</b>
  <%= @antenna.frequencyrx %>
</p>

<p>
  <b>Height:</b>
  <%= @antenna.height %>
</p>

<p>
  <b>TX Power:</b>
  <%= @antenna.txpower %>
</p>

<p>
  <b>Serial Number:</b>
  <%= @antenna.serialnumber %>
</p>

<p>
  <b>Phasing Color 1:</b>
  <%= @antenna.phasingcolor1 %>
</p>

<p>
  <b>Phasing Color 2:</b>
  <%= @antenna.phasingcolor2 %>
</p>

<p>
  <b>Sector Size:</b>
  <%= @antenna.sectorsize %>
</p>

<p>
  <b>Antenna Type:</b>
  <%= @antenna.antennatype %>
</p>

<p>
  <b>Dish Size:</b>
  <%= @antenna.dishsize %>
</p>


<%= link_to 'Edit', edit_antenna_path(@antenna) %> |
<%= link_to 'Back', antennas_path %>
