<h1>Listing sites</h1>

<table class="pretty table table-striped">
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "number", "#" %></th>
    <th><%= sortable "type" %></th>
    <th><%= sortable "county" %></th>
    <th><%= sortable "updated_at", "Updated" %></th>
    <th><%= sortable "site.tech.name", "Tech" %></th>
  </tr>
  <% for site in @sites %>
    <tr>
      <td><%= link_to site.name, site %></td>
      <td><%= site.number %></td>
      <td><%= site.type %></td>
      <td><%= site.county %></td>
      <td><%= site.updated_at.strftime("%B %e, %Y") %></td>
      <td><%= site.tech.name %></td>
    </tr>
  <% end %>
</table>

<br />
<%= link_to 'New Site', new_site_path %>
