<div class="jumbotron subhead" id="overview">
  <div class="container">
    <h1><%= @site.name %></h1>
  </div>
</div><div class="container">
<p id="notice"><%= notice %></p>
<div class="summary">

<p>
  <h2>Number</h2>
  <%= @site.number %>
</p>

<p>
  <h2>Location</h2>
  <img src="http://maps.google.com/maps/api/staticmap?center=<%= @site.location %>&zoom=17&size=300x200&sensor=true&maptype=hybrid" style="width: 300px; height: 200px;" /><br />
  <i><a href="https://maps.google.com/maps?q=<%= @site.location %>" target="blank" ><%= @site.location %></a></i>
</p>

<p>
  <h2>Type</h2>
  <%= @site.type %>
</p>

<p>
  <h2>County</h2>
  <%= @site.county %>
</p>

<p>
  <h2>Name</h2>
  <%=h @site.name %>
</p>
 
<p>
  <h2>Tech</h2>
  <%= link_to @site.tech.name, @site.tech %>
</p>

<p>
  <h2>SOWs</h2>
     <ul>
     <% @site.scope_of_works.each do |scope_of_work| %>
        <li><span>Kind: </span><%=h scope_of_work.worktype%><br /><%= link_to scope_of_work.item, scope_of_work %><br /><span>Completed:</span> <%=h scope_of_work.completed%><br /><span>Contractor:</span> <%=h scope_of_work.contractor%><br /><%=h scope_of_work.created_at %></li>
  	 <% end unless @site.scope_of_works.nil? %>
  	 </ul>
    <i class="icon-file"></i> <%= link_to "Create New SOW", new_scope_of_work_path %>
</p>

<p>
  <h2>BOMs</h2>
     <ul>
     <% @site.boms.each do |bom| %>
        <li><span>Kind: </span><%=h bom.worktype%><br /><%= link_to bom.item, bom %><br /><span>Qty. Est.:</span> <%=h bom.estq%><span>Qty. Used:</span> <%=h bom.usedq%><br /><span>Vendor:</span> <%=h bom.vendor%><br /><%=h bom.created_at %></li>
  	 <% end unless @site.boms.nil? %>
  	 </ul>
    <i class="icon-file"></i> <%= link_to "Create New BOM", new_bom_path %>
</p>

<p>
  <h2>Towers</h2>
  <i class="icon-question-sign"></i> <em>Click on a tower for Radio/Antenna Info</em>
     <ul>
     <% @site.towers.each do |tower| %>
        <li><%= link_to tower.name, tower %></li>
     <% end unless @site.towers.nil? %>
     </ul>
    <i class="icon-file"></i> <%= link_to "Create New Tower", new_tower_path %>
</p>

<p>
  <h2>Cabinets</h2>
     <ul>
     <% @site.cabinets.each do |cabinet| %>
        <li><%= link_to cabinet.name, cabinet %></li>
     <% end unless @site.cabinets.nil? %>
     </ul>
    <i class="icon-file"></i> <%= link_to "Create New Cabinet", new_cabinet_path %>
</p>

<p>
  <h2>Notes</h2>
     <ul>
     <% @site.notes.each do |note| %>
        <li><%= link_to note.subject, note %><br /><%=h note.note %><br /><i><%=h note.created_at %></i></li>
  	 <% end unless @site.notes.nil? %>
  	 </ul>
    <i class="icon-file"></i> <%= link_to "Create New Note", new_note_path %>
</p>

<p>
  <h2>Reviews</h2>
     <ul>
     <% @site.site_reviews.each do |site_review| %>
        <li><%= link_to site_review.datereviewed, site_review %></li>
     <% end unless @site.site_reviews.nil? %>
     </ul>
    <i class="icon-file"></i> <%= link_to "Create New Note", new_note_path %>
</p>

<ul>
  <% for clip in @site.clips %>
    <li>
    <%= image_tag(clip.file_url) %><br /><%= clip.description %> <i class="icon-arrow-down"> </i>  <%= link_to("Download", clip.file_url) %>
    </li>
  <% end %>
</ul>
</div>
<i class="icon-pencil"> </i> <%= link_to 'Edit', edit_site_path(@site) %>  
<i class="icon-arrow-left"> </i> <%= link_to 'Back', sites_path %>
